### Name: Vanessa Naa Atswei Adjei

### ID: 10977362

### Department: Biomedical Engineering


### __Programming Project__
---

In [1]:
#importing libraries
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as pd

In [2]:
import pandas as pd

Displaying the DataFrame for this project

In [3]:
df=pd.read_csv('data.csv')

In [4]:
df

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,NaN,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

## Null Count
---
__Null count__ shows the missing values in a column in a DataFrame. If we want to determine the the number of missing values in each column, we use;

In [5]:
null_counts = df.isnull().sum()

In [6]:
print(null_counts)

ID                      0
fixed acidity           1
volatile acidity        0
citric acid             1
residual sugar          0
chlorides               3
free sulfur dioxide     1
total sulfur dioxide    1
density                 1
pH                      1
sulphates               0
alcohol                 0
quality                 1
dtype: int64

We have ten null count values. In determining the location of the null values;

In [7]:
# Find the location of null values in the DataFrame
import numpy as np
null_locations = np.where(df.isnull())
# Print the locations of the null values
for row, col in zip(null_locations[0], null_locations[1]):
    print(f"Null value at row {row} and column {df.columns[col]}")

Null value at row 2 and column pH
Null value at row 10 and column total sulfur dioxide
Null value at row 23 and column citric acid
Null value at row 179 and column free sulfur dioxide
Null value at row 581 and column quality
Null value at row 1113 and column chlorides
Null value at row 1231 and column density
Null value at row 1584 and column chlorides
Null value at row 1585 and column chlorides
Null value at row 1595 and column fixed acidity

## Duplicate Values
___
__Duplicates__ in the DataFrame are rows that contain the same values in one or more columns, but not all the columns. DUplicates can occur has a result in data entry errors, lack of unique identifiers, etc. In determining the number of duplicates and their locations;

In [11]:
# Find the number of duplicates
number_duplicates = df.duplicated().sum()

# Print the number of duplicates
print(f"There are {number_duplicates} duplicate rows in the DataFrame.")

# Find the duplicate rows
duplicate_rows = df[df.duplicated()]

# Print the duplicate rows
print("Duplicate rows in the DataFrame:")
print(duplicate_rows)

There are 0 duplicate rows in the DataFrame.
Duplicate rows in the DataFrame:
Empty DataFrame
Columns: [ID, fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality]
Index: []

### Pre-Processing DataFrame
---
In pre-processing the data to get rid of all null values and duplicates;

In [12]:
# Print the original DataFrame
print('Original DataFrame:\n',df)

#Remove null count values
# Remove any rows with missing values
df = df.dropna()

# Print the DataFrame without null count values
print('DataFrame without null count values:\n',df)

Original DataFrame:
         ID  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        1            7.4             0.700         0.00             1.9
1        2            7.8             0.880         0.00             2.6
2        3            7.8             0.760         0.04             2.3
3        4           11.2             0.280         0.56             1.9
4        5            7.4             0.700         0.00             1.9
...    ...            ...               ...          ...             ...
1596  1597            5.9             0.550         0.10             2.2
1597  1598            6.3             0.510         0.13             2.3
1598  1599            5.9             0.645         0.12             2.0
1599  1600            6.0             0.310         0.47             3.6
1600  1601            7.2             0.390         0.44             2.6

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.076                 11.0                  34.0  0.99780  3.51
1         0.098                 25.0                  67.0  0.99680  3.20
2         0.092                 15.0                  54.0  0.99700   NaN
3         0.075                 17.0                  60.0  0.99800  3.16
4         0.076                 11.0                  34.0  0.99780  3.51
...         ...                  ...                   ...      ...   ...
1596      0.062                 39.0                  51.0  0.99512  3.52
1597      0.076                 29.0                  40.0  0.99574  3.42
1598      0.075                 32.0                  44.0  0.99547  3.57
1599      0.067                 18.0                  42.0  0.99549  3.39
1600      0.066                 22.0                  48.0  0.99494  3.30

      sulphates  alcohol  quality
0          0.56      9.4      5.0
1          0.68      9.8      5.0
2          0.65      9.8      5.0
3          0.58      9.8      6.0
4          0.56      9.4      5.0
...         ...      ...      ...
1596       0.76     11.2      6.0
1597       0.75     11.0      6.0
1598       0.71     10.2      5.0
1599       0.66     11.0      6.0
1600       0.84     11.5      6.0

[1601 rows x 13 columns]
DataFrame without null count values:
         ID  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        1            7.4             0.700         0.00             1.9
1        2            7.8             0.880         0.00             2.6
3        4           11.2             0.280         0.56             1.9
4        5            7.4             0.700         0.00             1.9
5        6            7.4             0.660         0.00             1.8
...    ...            ...               ...          ...             ...
1596  1597            5.9             0.550         0.10             2.2
1597  1598            6.3             0.510         0.13             2.3
1598  1599            5.9             0.645         0.12             2.0
1599  1600            6.0             0.310         0.47             3.6
1600  1601            7.2             0.390         0.44             2.6

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.076                 11.0                  34.0  0.99780  3.51
1         0.098                 25.0                  67.0  0.99680  3.20
3         0.075                 17.0                  60.0  0.99800  3.16
4         0.076                 11.0                  34.0  0.99780  3.51
5         0.075                 13.0                  40.0  0.99780  3.51
...         ...                  ...                   ...      ...   ...
1596      0.062                 39.0                  51.0  0.99512  3.52
1597      0.076                 29.0                  40.0  0.99574  3.42
1598      0.075                 32.0                  44.0  0.99547  3.57
1599      0.067                 18.0                  42.0  0.99549  3.39
1600      0.066                 22.0                  48.0  0.99494  3.30

      sulphates  alcohol  quality
0          0.56      9.4      5.0
1          0.68      9.8      5.0
3          0.58      9.8      6.0
4          0.56      9.4      5.0
5          0.56      9.4      5.0
...         ...      ...      ...
1596       0.76     11.2      6.0
1597       0.75     11.0      6.0
1598       0.71     10.2      5.0
1599       0.66     11.0      6.0
1600       0.84     11.5      6.0

[1591 rows x 13 columns]

In [13]:
# Print the original DataFrame
print('Original DataFrame:\n',df)


# Remove duplicate rows
df = df.drop_duplicates()

# Print the DataFrame without duplicates
print('DataFrame without duplicates:\n',df)

Original DataFrame:
         ID  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        1            7.4             0.700         0.00             1.9
1        2            7.8             0.880         0.00             2.6
3        4           11.2             0.280         0.56             1.9
4        5            7.4             0.700         0.00             1.9
5        6            7.4             0.660         0.00             1.8
...    ...            ...               ...          ...             ...
1596  1597            5.9             0.550         0.10             2.2
1597  1598            6.3             0.510         0.13             2.3
1598  1599            5.9             0.645         0.12             2.0
1599  1600            6.0             0.310         0.47             3.6
1600  1601            7.2             0.390         0.44             2.6

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.076                 11.0                  34.0  0.99780  3.51
1         0.098                 25.0                  67.0  0.99680  3.20
3         0.075                 17.0                  60.0  0.99800  3.16
4         0.076                 11.0                  34.0  0.99780  3.51
5         0.075                 13.0                  40.0  0.99780  3.51
...         ...                  ...                   ...      ...   ...
1596      0.062                 39.0                  51.0  0.99512  3.52
1597      0.076                 29.0                  40.0  0.99574  3.42
1598      0.075                 32.0                  44.0  0.99547  3.57
1599      0.067                 18.0                  42.0  0.99549  3.39
1600      0.066                 22.0                  48.0  0.99494  3.30

      sulphates  alcohol  quality
0          0.56      9.4      5.0
1          0.68      9.8      5.0
3          0.58      9.8      6.0
4          0.56      9.4      5.0
5          0.56      9.4      5.0
...         ...      ...      ...
1596       0.76     11.2      6.0
1597       0.75     11.0      6.0
1598       0.71     10.2      5.0
1599       0.66     11.0      6.0
1600       0.84     11.5      6.0

[1591 rows x 13 columns]
DataFrame without duplicates:
         ID  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        1            7.4             0.700         0.00             1.9
1        2            7.8             0.880         0.00             2.6
3        4           11.2             0.280         0.56             1.9
4        5            7.4             0.700         0.00             1.9
5        6            7.4             0.660         0.00             1.8
...    ...            ...               ...          ...             ...
1596  1597            5.9             0.550         0.10             2.2
1597  1598            6.3             0.510         0.13             2.3
1598  1599            5.9             0.645         0.12             2.0
1599  1600            6.0             0.310         0.47             3.6
1600  1601            7.2             0.390         0.44             2.6

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0         0.076                 11.0                  34.0  0.99780  3.51
1         0.098                 25.0                  67.0  0.99680  3.20
3         0.075                 17.0                  60.0  0.99800  3.16
4         0.076                 11.0                  34.0  0.99780  3.51
5         0.075                 13.0                  40.0  0.99780  3.51
...         ...                  ...                   ...      ...   ...
1596      0.062                 39.0                  51.0  0.99512  3.52
1597      0.076                 29.0                  40.0  0.99574  3.42
1598      0.075                 32.0                  44.0  0.99547  3.57
1599      0.067                 18.0                  42.0  0.99549  3.39
1600      0.066                 22.0                  48.0  0.99494  3.30

      sulphates  alcohol  quality
0          0.56      9.4      5.0
1          0.68      9.8      5.0
3          0.58      9.8      6.0
4          0.56      9.4      5.0
5          0.56      9.4      5.0
...         ...      ...      ...
1596       0.76     11.2      6.0
1597       0.75     11.0      6.0
1598       0.71     10.2      5.0
1599       0.66     11.0      6.0
1600       0.84     11.5      6.0

[1591 rows x 13 columns]

The analysis above shows that there are no duplicates.

### Using the Dropna method for Null values
---
The dropna() method removes the rows that contains null values. The dropna() method returns a new DataFrame object unless the inplace parameter is set to True, in that case the dropna() method does the removing in the original DataFrame instead.



### Statistical Inferences of Dataset (df)
---

In [14]:
df = df.dropna()
df.describe()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000
mean,801.060968,8.320616,0.527681,0.271477,2.540761,0.087500,15.861722,46.498429,0.996747,3.311358,0.658611,10.426053,5.637964
std,460.740942,1.740134,0.179045,0.194807,1.413076,0.047175,10.429385,32.998659,0.001889,0.154548,0.169786,1.066706,0.807772
min,1.000000,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,402.500000,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,801.000000,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,1199.500000,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997845,3.400000,0.730000,11.100000,6.000000
max,1601.000000,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

### Statistical Inferences of Individual Columns
---
For the column fixed acidity;

In [15]:
df['fixed acidity'].describe()

count    1591.000000
mean        8.320616
std         1.740134
min         4.600000
25%         7.100000
50%         7.900000
75%         9.200000
max        15.900000
Name: fixed acidity, dtype: float64

For the column volatile acidity;

In [16]:
df['volatile acidity'].describe()

count    1591.000000
mean        0.527681
std         0.179045
min         0.120000
25%         0.390000
50%         0.520000
75%         0.640000
max         1.580000
Name: volatile acidity, dtype: float64

For the column citric acid

In [17]:
df['citric acid'].describe()

count    1591.000000
mean        0.271477
std         0.194807
min         0.000000
25%         0.090000
50%         0.260000
75%         0.420000
max         1.000000
Name: citric acid, dtype: float64

For the column residual sugar;

In [18]:
df['residual sugar'].describe()

count    1591.000000
mean        2.540761
std         1.413076
min         0.900000
25%         1.900000
50%         2.200000
75%         2.600000
max        15.500000
Name: residual sugar, dtype: float64

For the column chlorides;

In [19]:
df['chlorides'].describe()

count    1591.000000
mean        0.087500
std         0.047175
min         0.012000
25%         0.070000
50%         0.079000
75%         0.090000
max         0.611000
Name: chlorides, dtype: float64

For the column free sulfur dioxide;

In [21]:
df['free sulfur dioxide'].describe()

count    1591.000000
mean       15.861722
std        10.429385
min         1.000000
25%         7.000000
50%        14.000000
75%        21.000000
max        72.000000
Name: free sulfur dioxide, dtype: float64

For the column total sulfur dioxide;

In [25]:
df['total sulfur dioxide'].describe()

count    1591.000000
mean       46.498429
std        32.998659
min         6.000000
25%        22.000000
50%        38.000000
75%        62.000000
max       289.000000
Name: total sulfur dioxide, dtype: float64

For the column density;

In [26]:
df['density'].describe()

count    1591.000000
mean        0.996747
std         0.001889
min         0.990070
25%         0.995600
50%         0.996750
75%         0.997845
max         1.003690
Name: density, dtype: float64

For the column pH;

In [27]:
df['pH'].describe()

count    1591.000000
mean        3.311358
std         0.154548
min         2.740000
25%         3.210000
50%         3.310000
75%         3.400000
max         4.010000
Name: pH, dtype: float64

For the column sulphates;

In [28]:
df['sulphates'].describe()

count    1591.000000
mean        0.658611
std         0.169786
min         0.330000
25%         0.550000
50%         0.620000
75%         0.730000
max         2.000000
Name: sulphates, dtype: float64

For the column alcohol;

In [29]:
df['alcohol'].describe()

count    1591.000000
mean       10.426053
std         1.066706
min         8.400000
25%         9.500000
50%        10.200000
75%        11.100000
max        14.900000
Name: alcohol, dtype: float64

For rhe column quality;

In [30]:
df['quality'].describe()

count    1591.000000
mean        5.637964
std         0.807772
min         3.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: quality, dtype: float64

### Hidden Inferences 
---
Hidden inferences in Jupyter Dataframe help make data analysis more efficient. Some hidden inferences in Jupyter are; column, index, etc. Jupyter Dataframe automatically infers the data types of columns based on the data in the first few rows.